<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
     <h2>Login Page</h2>
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
            {% if form.email.errors %}
                <p style="color:red;">{{ form.email.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
            {% if form.password.errors %}
                <p style="color:red;">{{ form.password.errors.0 }}</p>
            {% endif %}
        </div>

        <button type="submit">Login</button>
    </form>
</body>
</html>
</body>
</html>