{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'myproject/style.css' %}">
</head>
<body>
    <h1>My Image Gallery</h1>

    <div class="gallery">
        {% load static %}
        <figure>
            {% load static %}
            <img src="{% static 'myproject/cat.png' %}" alt="Cat">
            <figcaption>Cat</figcaption>
        </figure>
        {% load static %}
        <figure>
            {% load static %}
            <img src="{% static 'myproject/cat2.png' %}" alt="Dog">
            <figcaption>Dog</figcaption>
        </figure>
        {% load static %}
        <figure>
            {% load static %}
            <img src="{% static 'myproject/cat3.png' %}" alt="Bird">
            <figcaption>Bird</figcaption>
        </figure>
    </div>

    <p><a href="{% url 'contact' %}">Go to Contact Page</a></p>
</body>
</html>
