<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Library Home</h1>
    <a href="{%url 'add_book'%}">Add New Book</a>
    <ul>
        {%for book in page_obj%}
        <li>{{book.title}} by {{book.author}} - {{book.year}}
            <a href="{% url 'edit_book' pk=book.pk %}">Edit</a>
            <a href="{% url 'delete_book' pk=book.pk %}">Delete</a>
        </li>
        {%empty%}
        <li>No books yet.</li>
        {%endfor%}
    </ul>
    <div>
        {%if page_obj.has_previous%}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {%endif%}
        {%if page_obj.has_next%}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {%endif%}
    </div>

</body>
</html>